:root{
    --w-badge-xs:10px;
    --w-badge-sm:20px;
    --w-badge-md:40px;
    --w-badge-xl:80px;

    --h-badge-xs:10px;
    --h-badge-sm:20px;
    --h-badge-md:40px;
    --h-badge-xl:80px;
}

.symbol-badge-success{
    width: var(--w-badge-sm);
    height: var(--h-badge-sm);
    border: 2px solid var(--light);
    background-color: var(--green);
    border-radius: 50%;
}

.symbol-badge-danger{
    width: var(--w-badge-sm);
     height: var(--h-badge-sm);
    border: 2px solid var(--light);
    background-color: var(--red);
    border-radius: 50%;
}
.symbol-badge-alarm{
    padding: 2px 5px;
    font-size: 10px;
    background-color: var(--pink);
    font-weight: bold;
    border-radius: 50%;
}