html,
body{
    height: 100%;
}

.containar{
    width: 100%;
    height: 100%;
}

/* -------------------------------------------sidebar------------------------------------------------- */

.sidebar{
    width: 20%;
    height: auto;
    min-width: 300px;
    background-color: var( --dark);
}

.profile{
    width: 90%;
    text-align: left;
    margin-top:var(--m-md);
}

.icon-profile{
    fill: var(--light);
    width: var( --icon-sm);
    height:var( --icon-sm);
    cursor: pointer;
}

.avatar-profile{
    margin: auto;
    width: var( --icon-xxl);
}

.avatar {
    border-radius: 50%;
    vertical-align: middle;
    width: var( --icon-xxl);
    border: 5px solid var(--light);
}

.symbol-badge{
    top: 90px;
    right: 6px;
}

.info-profile{
   margin: var(--m-sm); 
}

.info-fullName{
    color: var(--light);
    margin: var(--m-xs);
    margin-left: var(--m-sm);
}

.icon-info{
    fill:var(--light);
    width: var(--icon-xxs) ;
    height: var(--icon-xxs);
    cursor: pointer;
}

.info-disc{
   color: var(--gray);
   font-size: var(--font-xs);
}

.nav{
    width: 100%;
    margin-top: var(--m-md);
    
}

.nav a{
    color: var(--light);
    text-decoration: none;
}
.nav > ul{
    line-height: 3.5;
}

.nav ul ul {
    display: none;
    position: static;
}

.nav-sidbar{
    width: 90%;
    list-style: none;
    margin-right: auto;
}

.nav-sidbar li{
    cursor: pointer;
    color: var(--light);
    transition: all .3s ease-in-out;
}

.icon-menu{
    fill:var(--light);
    width: var(--icon-xs) ;
    height: var(--icon-xs);
    margin-left: var(--m-sm);
}

.sub-menu{
    width: 96%;
    line-height: 2;
    list-style: none;
    margin-right: auto;
}

.sub-menu li{
    padding: 5px 15px;
    border-radius:0px 50px 50px 0px;
}

.sub-menu li:hover{ 
    background-color: var(--root-color);
}

/* -------------------------------------------content------------------------------------------------- */
.content{
    width: 80%;
    height: 100%;
    background-color: rgba(245, 246, 250, 1);
}

.header{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 0px 30px;
}

.icon-header{
    cursor: pointer;
    margin: var(--m-sm);
    width: var(--icon-sm);
    height: var(--icon-sm);
}

.icon-bell{
    fill:var(--root-color); 
}

.icon-alarm{
    fill:var(--orange);
}

.symbol-badge-alarm{
    top: 3px;
    right: 32px;
}

.icon-settings{
    margin-right: var(--m-md);
}

.date-header{
    font-size: var(--font-xs);
    cursor: pointer;
}

.icon-date{
    width: var(--icon-xxs) ;
    height: var(--icon-xxs);
    margin-right: var(--m-sm);
    cursor: pointer;
}

/* -----------------------------------------grid-filters---------------------------------- */
.grid-filters{
    width: 95%;
    margin: auto;
    margin-top: var(--m-xl);
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: var(--font-xs);
}
  
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color:var(--dark);
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
}

.title-filters{
    color: var(--root-color);
}

.bg-white{
    background-color: white;
}

.grid-inputs-filter{
    width: 96%;
    margin: auto;
    padding: 20px 10px;
    border-radius: 5px;
}

.card-input{
    width: 270px;
    height: 65px;
    display: block;
    margin: var(--m-sm);
}

.card-title-inputs{
    display: inline;
    font-size: var(--font-sm);
}

.card-input-filters{
    width: 100%;
    height: 35px;
    margin-top: var(--m-sm);
    border-top-color: rgba(0,0,0,0.2);
    border-left-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}

.grid-buttons{
    height: 65px;
}

.button-filter{
    background-color: var(--root-color);
    padding: 10px 35px;
    border-radius: 50px;
    box-shadow: none;
    border:none ; 
    color: var(--light);
    height: 40px;
}

.icon-filter{
    width: var(--icon-xs) ;
    height: var(--icon-xs);
    margin-right: var(--m-sm);
    cursor: pointer;
}